
<div class="col-lg-9">
  <%= form_with model: @post, method: :patch do |f| %>
    <h1>投稿編集</h1>
      <p><%= image_tag @post.user.get_profile_image %><%= @post.user.name %></p>
      <p>タイトル：<%= f.text_field :title %></p>
        <%= image_tag @post.get_image %>
      <p><%= f.file_field :image, accept: "image/*" ,multiple: true %></p>
      <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <p>旅行日数：<%= f.select :night, *[1..50] %>泊　<%= f.select :day, *[1..50] %>日</p>
      <p>参加人数：<%= f.select :person, *[1..100] %>人</p>
      <p><%= f.text_area :report %></p>
      <%= f.submit '投稿の編集を保存する', class: "btn btn-success" %>
  <% end %>
</div>


