<div class="col-lg-9">
<h1>プラン編集</h1>
<%= form_with model: @plan, method: :patch do |f| %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <th>プラン名</th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th>旅行日</th>
        <td><%= f.date_field :first_day %>　～　<%= f.date_field :last_day %></td>
      </tr>
    </tbody>
  </table>

      <div class="plan">
      <h5>旅行スケジュール</h5>
      <%= f.fields_for :plan_days do |plan_day|%>
        <%= render 'public/plans/plan_day_fields', f: plan_day %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association '＋日数追加', f, :plan_days , class: "btn btn-primary"%>
      </div>
    </div>

  <div= class="actions">
      <%= f.submit :変更を保存する, class: "btn btn-success" %>
    </div>
  <% end %>

</div>