<div class="col-lg-9">
<h1>マイプラン</h1>

<table class="table">
  <% @plans.each do |plan| %>
    <tbody>
      <tr>
        <td>
          <%= link_to plan_path(plan.id) do %>
            <%= plan.name %>
          <% end %>
        </td>
        <td><%= link_to '編集する', edit_plan_path(plan.id), class: "btn btn-warning" %></td>
        <% if plan.posts.blank? %>
          <td><%= link_to '削除する', plan_path(plan.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？"  %></td>
        <% else %>
          <td>投稿済み</td>
        <% end %>
      </tr>
    </tbody>
  <% end %>
</table>

<p><%= link_to "＋新規プランを作成する", new_plan_path, class: "btn btn-primary" %></p>

</div>
