<h1>新規プラン作成</h1>
  <%= form_with model: @plan do |f| %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <th>プラン名</th>
        <td><%= f.text_field :name %> </td>
      </tr>
      <tr>
        <th>旅行日</th>
        <td><%= f.select :start_year, *[2000..2100] %>年　<%= f.select :start_month, *[1..12] %>月　<%= f.select :start_day, *[1..31] %>日　　～</td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.select :finish_year, *[2000..2100] %>年　<%= f.select :finish_month, *[1..12] %>月　<%= f.select :finish_day, *[1..31] %>日</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>旅行スケジュール</th>
        <th>時間</th>
        <th>何をするか</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>１日目</th>
      </tr>
    </tbody>
  </table>

  <% end %>