<div class="col-lg-9">
<h1>プラン詳細</h1>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <th>プラン名</th>
        <td><%= @plan.name %> </td>
      </tr>
      <tr>
        <th>旅行日</th>
        <td><%= @plan.first_day %>　～　<%= @plan.last_day %></td>
      </tr>
    </tbody>
  </table>

  <div class="plan">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>時間</th>
          <th>予定内容</th>
        </tr>
      </thead>
      <% @plan_days.each do |plan_day| %>
      <tbody>
        <tr>
          <th colspan="3"><%= plan_day.day %>日目</th>
        </tr>
        <tr>
          <% plan_day.plan_details.each do |plan_detail|%>
            <tr>
              <th></th>
              <td>
                <%= plan_detail.start_time.strftime('%H:%M') if plan_detail.start_time%>~
                <%= plan_detail.end_time.strftime('%H:%M') if plan_detail.end_time %></td>
              <td><%= plan_detail.purpose %></td>
            </tr>
          <% end %>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <%= link_to "編集する", edit_plan_path(@plan.id), class: "btn btn-warning" %>

  </div>



