
<h1>ユーザー詳細</h1>

<table class="table table-borderless">
  <tbody>
    <tr><%= image_tag @user.get_profile_image %></tr>
    <tr>
      <th>ユーザーネーム</th>
      <td><%= @user.name %> </td>
    </tr>
    <tr>
      <th>コメント</th>
      <td><%= @user.comment %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td><%= @user.birth_of_date %></td>
    </tr>
    <tr>
      <th>非公開設定</th>
      <td>
        <% if @user.private_setting == false %>
          公開
        <% else @user.private_setting == true %>
          非公開
        <% end %>
      </td>
    </tr>
    <tr>
      <th>退会ステータス</th>
      <td>
        <% if @user.is_deleted == false %>
          有効
        <% else @user.is_deleted == true %>
          退会
        <% end %>
      </td>
    </tr>
    <tr>
      <th></th>
      <% if @user.email != 'guest@example.com' %>
        <td><%= link_to '編集する', edit_admin_user_path(@user.id), class: "btn btn-warning" %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<h1>ユーザー投稿一覧</h1>

<table class="table table-borderless">
  <tbody>
    <tr>
      <% @posts.each do |post| %>
      <td>
        <p>
          <%= link_to admin_post_path(post.id) do %>
            <%= image_tag post.get_image %>
          <% end %>
        </p>
        <p>
          <%= link_to admin_post_path(post.id) do %>
            <%= post.title %>
          <% end %>
        </p>
        <p>♡<%= post.favorites.count %> いいね</p>
        <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
