<div class="col-8 ml-auto">
<h2>ログイン</h2>

<%= form_with model: @user, url: user_session_path do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>


  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-success"  %>
  </div>
<% end %>

<p>　</p>

<div class="actions">
<%= link_to 'ゲストログインする方はこちら（閲覧用）', users_guest_sign_in_path, method: :post %>
</div>

<p>　</p>

<div class="actions">
<%= render "public/shared/links" %>
</div>

</div>