<div class="col-lg-9">

<h1>いいね一覧</h1>

<% @favorites_posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p><%= post.title %></p>
  <p>♡<%= post.favorites.count %></p>
  <p>
    <%= link_to user_path(post.user.id) do %>
      <%= image_tag post.user.get_profile_image %><br>
      <%= post.user.name %>
    <% end %>
  </p>
</div>
<% end %>

</div>
