<h1>いいね一覧</h1>

<% @favorites_posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p><%= post.title %></p>
  <p>♡<%= post.favorites.count %> いいね</p>
  <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
  <p></p>
</div>
<% end %>
