<%= notice %>
<div class="col-lg-9">

<h1>ユーザーページ</h1>
<p>
<%= image_tag @user.get_profile_image %>
<% if @user == current_user %>
  <%= link_to 'いいね一覧', favorites_user_path(@user.id) %>
<% end %>
<p>
<p><%= link_to @user.followings.count, followings_user_path(@user) %>フォロー <%= link_to @user.followers.count, followers_user_path(@user) %>フォロワー</p>

<table class="table  table-borderless">
  <tbody>
    <tr>
      <th>ユーザーネーム</th>
      <td><%= @user.name %> </td>
    </tr>
    <tr>
      <th>コメント</th>
      <td><%= @user.comment %></td>
    </tr>
    <% if @user == current_user %>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td><%= @user.birth_of_date %></td>
    </tr>
    <tr>
      <th>非公開設定</th>
      <td>
        <% if @user.private_setting == false %>
          公開
        <% else @user.private_setting == true %>
          非公開
        <% end %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td><%= link_to '編集する', edit_user_path(@user.id), class: "btn btn-primary" %></td>
    </tr>
    <% else %>
      <% if @user.is_followed_by?(current_user) %>
        <%= link_to user_relationships_path(@user), method: :delete do %>
          <button type="button" class="btn btn btn-primary">フォロー解除</button>
        <% end %>
      <% else %>
        <%= link_to user_relationships_path(@user), method: :post do %>
          <button type="button" class="btn btn btn-primary">フォロー</button>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<table class="table  table-borderless">
  <tr>
    <% @posts.each do |post| %>
    <td>
      <p>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_image %>
        <% end %>
      </p>
      <p>
        <%= link_to post_path(post.id) do %>
          <%= post.title %>
        <% end %>
      </p>
      <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
      <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
    </td>
    <% end %>
  </tr>
</table>

</div>
