<!DOCTYPE html>
<html>
  <head>
    <title>Triplanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <% if admin_signed_in? %>
            <a clas="navbar-brand p-3" href="/admin"><%= image_tag 'triplanner_logo.png', size: '150x150' %></a>
          <% else %>
          <a clas="navbar-brand p-3" href="/"><%= image_tag 'triplanner_logo.png', size: '150x150' %></a>
          <% end %>
          <div>
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li>
              <%= link_to '投稿一覧', posts_path %>
            </li>
            <li>
              <%= link_to 'ユーザー一覧', users_path %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
            <% elsif admin_signed_in? %>
            <li>
              <%= link_to "会員一覧", admin_users_path %>
            </li>
            <li>
              <%= link_to "投稿一覧", admin_posts_path %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
            <% else %>
            <li>
              <%= link_to 'About', about_path %>
            </li>
            <li>
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <main>

          <div class="container">
            <div class="row ml-auto">
              <% if user_signed_in? %>
              <div class="col-lg-3">
                  <p>
                    <%= link_to user_path(current_user.id) do %>
                      <%= image_tag current_user.get_profile_image %>
                    <% end %>
                  </p>
                  <p><%= current_user.name %></p>
                  <p>
                    <%= link_to 'マイページ', user_path(current_user.id) %>
                  </p>
                  <p>
                    <%= link_to 'マイプランをみる', plans_path %>
                  </p>
                  <p>
                    <%= link_to '新規投稿をする', new_post_path %>
                  </p>
                  <p><%= render 'public/shared/users_search' %></p>
                  <p><%= render 'public/shared/posts_search' %></p>
              </div>
              <% end %>
              <%= yield %>
            </div>
          </div>

      </main>
    </header>
    <fooder>
      <h1>　</h1>
    </fooder>
  </body>

</html>
